@use "../../../../assets/styles/variables" as variables;
@use "../../../../assets/styles/mixins" as mixins;

.divider {
  border: none;
  height: 1px;
  background-color: variables.color( primary );
  width: 100%;
  margin-bottom: 10px;
}

.divider-inputs {
  border: none;
  height: 1px;
  background-color: variables.color( gray6 );
  width: 100%;
  margin-bottom: 10px;
  margin-top: -2px;
}

.container {
  margin-top: 24px;

  &__header {
    &__img{
      width: 30px;
    }

    &__text{
      font-size: 17px;
      color: variables.color( gray2 );

      &__question{
        color: variables.color( secondary );
        font-weight: bold;
      }
    }

  }

  &__id{
    width: 100%;

    &__input{
      width: 95%;

    }
    &__title{
      color: variables.color( secondary );
      font-size: 17px;
      font-weight: bold;
    }
    &__error{
      font-size: 12px;
      margin-left: 15px;
    }
  }

  &__setting{
    width: 100%;
    &__input{
      width: 95%;

    }
     &__title{
      color: variables.color( secondary );
      font-size: 17px;
      font-weight: bold;
    }
  }

  &__next {
    @include mixins.button-styles( secondary, 16px, bolder );
    --background: #1EEA00;
    --background-activated: #0733004d;
    height: 50px !important;
    margin:24px 0;
  }
}

ion-input{
  --highlight-color: #AAAAAA;
  --highlight-color-focused: #AAAAAA;
  --placeholder-color: #AAAAAA;
}


ion-select {
  --placeholder-color: #000000;
  --highlight-color: #AAAAAA;
  --placeholder-opacity: 1;
  width: 100%;
  justify-content: center;
}

ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
}

ion-select::part(placeholder)::first-letter {
  font-size: 24px;
  font-weight: 500;
}

ion-select::part(text) {
  color: black;
}

// ion-select::part(icon) {
//   color: #971e49;
//   opacity: 1;
// }
