
<ion-grid class="keypad">

  <ion-row class="keypad__row-input">
    <ion-col size="12">
      <ion-input
        class="keypad__row-input__input"
        [(ngModel)]="phoneNumber"
        type="tel"
        placeholder="(XXX - XXXXXXX)"
        readonly
      >
      </ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="keypad__keys">
    @for (key of keys; track key) {

      <ion-col size="4">

        @switch (key) {
          @case ('backspace') {
            <ion-col class="keypad__keys__backspace">
              <ion-button
                class="keypad__keys__backspace__button"
                fill="clear"
                (click)="deleteNumber()"
              >
                <ion-icon src="assets\images\icons\backspace.svg"></ion-icon>
              </ion-button>
            </ion-col>
          }

          @case ('checkmark') {
            <ion-col class="keypad__keys__checkmark">
              <ion-button
                class="keypad__keys__checkmark__button"
                shape="round"
                (click)="goToAccountInformation()"
              >
                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
              </ion-button>
            </ion-col>
          }

          @default {
            <ion-button
              class="keypad__keys__button"
              expand="block"
              fill="clear"
              (click)="addNumber(key)"
            >{{ key }}</ion-button>
          }
        }
      </ion-col>
    }
  </ion-row>
</ion-grid>

