<ion-content class="ion-padding">
  <ion-grid class="content">

    <ion-row class="content__logo-slogan">
      <ion-img
        class="content__logo-slogan__logo"
        src="assets\images\logo\coink.svg"
        alt="logo coink"
      ></ion-img>

      <ion-text class="content__logo-slogan__slogan">
        LA ALCANCIA QUE SIEMPRE TE ACOMPAÑA
      </ion-text>
    </ion-row>

    <ion-row
      class="content__buttons"
    >
      <ion-button
        class="content__buttons__register"
        shape="round"
        expand="block"
        [routerLink]="'register/phone-number'"
      >
      REGÍSTRATE
      </ion-button>

      <ion-button
        class="content__buttons__login"
        shape="round"
        expand="block"
      >
        INGRESA
      </ion-button>

    </ion-row>
  </ion-grid>
