@use "../../../assets/styles/variables.scss" as variables;
@use "../../../assets/styles/mixins.scss" as mixins;

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__logo-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
    flex: 1;

    &__logo {
      width: 125px;
    }

    &__slogan {
      @include mixins.button-styles( primary, 20px, bold );
      text-align: center;
      padding: 0 12px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__register {
      @include mixins.button-styles( secondary, 16px, bolder );
      --background: #1EEA00;
      --background-activated: #0733004d;
    }

    &__login {
      @include mixins.button-styles( white1, 16px, 500 );
      --background: #004B40;
      --background-activated: #006858;
    }
  }

  // ion-button {
  //   // box-shadow: 0px 4px 8px variables.color( green1 );
  //   // height: 40px;
  // }
}



