
<ion-header>
  <ion-toolbar>
    <ion-title>Información del Usuario</ion-title> <
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Número de Teléfono</ion-label>
      <ion-text>{{ userInfo.phoneNumber }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Tipo de Documento</ion-label>
      <ion-text>{{ userInfo.documentType.description }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Número de Documento</ion-label>
      <ion-text>{{ userInfo.documentNumber }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de Expedición</ion-label>
      <ion-text>{{ userInfo.documentIssueDate }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-text>{{ userInfo.birthDate }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Género</ion-label>
      <ion-text>{{ userInfo.gender }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Correo Electrónico</ion-label>
      <ion-text>{{ userInfo.email }}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>PIN</ion-label>
      <ion-text>{{ userInfo.pin }}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
