
<register-header
  [routeBAck]="'/'"
  [title]="'NÚMERO CELULAR'"
  ></register-header>
<ion-grid class="container ion-padding">
  <ion-row class="container__header" >
    <ion-col class="container__header__img" size="3">
      <ion-img
        src="assets\images\logo\oink.svg"
        alt="logo coink"
      >
      </ion-img>
    </ion-col>
    <ion-col class="container__header__text">
      <p>Para comenzar, por favor ingresa <strong>tu número celular.</strong></p>
    </ion-col>
  </ion-row>
  <hr class="divider">
  <ion-row>
    <app-numeric-keypad (getNumber)="setPhoneNumber($event)" />
  </ion-row>
</ion-grid>


